.nav li {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
    border: 1px solid red;
}

@media screen and (max-width: 400px) { /* Quando chegar numa largura de 400px, serão aplicados: */
    .nav li {
        display: block;
        padding: 5px;
    }
    h1 {
        display: none;
    }
}